<%= form_with(model: @contact, local:true) do |form| %>

<% if @contact.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="contact_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="contact_email">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="contact_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
